.createBtn {
  width: 100%;
}
.eyeStyle {
  cursor: pointer;
  top: -34px;
  left: 334px;
}
.topHeader {
  background-color: #effff4;
  border-radius: inherit;
}
.crossIcon {
  cursor: pointer;
  position: relative;
  left: 793px;
  top: -50px;
  z-index: 222;
}
.crossIconLogin {
  cursor: pointer;
  position: relative;
  left: 793px;
  top: -66px;
  z-index: 222;
}
@media only screen and (max-width: 600px) {
  .crossIcon {
    position: sticky;
    width: 24px;
    height: 24px;
    right: -20px;
    top: 0px;
    background: #000;
    border-radius: 50%;
    transform: translate(430px, 15px);
  }
  .crossIconLogin{
    position: sticky;
    width: 24px;
    height: 24px;
    right: -20px;
    top: 0px;
    background: #000;
    border-radius: 50%;
    transform: translate(430px, 15px);
  }
  .modalPosition {
    position: fixed;
    bottom: 0;
    transform: translate(-0%, 10%);
  }
  .topHeader {
    display: flex;
    justify-content: space-between;
    position: absolute !important;
    background-color: inherit;
    border-radius: inherit;
  }
  .eyeStyle {
    left: 400px;
  }
  .createBtn {
    width: inherit;
  }
}
